body{
    align-items: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    margin-left: 500px;
    border: 1px solid rgba(72, 13, 13, 0.597);
}
.divs{
    display: flex;
    border: 1px solid black;
    
}
